* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameWindow {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .playerBoard,
    .aiBoard {
        width: 500px;
        height: 500px;
        border: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;

        .tile.hasShip {
            background: white;


        }

        .tile.hit:before {
            font-size: 3rem;
            content: '•';
            color: white;
            position: relative;
            left: 15px;
            bottom: 5px;
        }

        .tile.hitShip:before {
            font-size: 3rem;
            content: '•';
            color: red;
            position: relative;
            left: 15px;
            bottom: 5px;
        }
    }

    .playerBoard {
        .tile {
            border: 1px solid rgba(255, 255, 255, 0.377);
            width: 50px;
            height: 50px;
            margin: 0;
            box-sizing: border-box;
            user-select: none;
        }

        .carrier {
            background: rgb(255, 255, 255) !important;
        }

        .battleship {
            background: rgb(230, 230, 230) !important;
        }

        .destroyer {
            background: rgb(210, 210, 210) !important;
        }

        .submarine {
            background: rgb(190, 190, 190) !important;
        }

        .patrol-boat {
            background: rgb(170, 170, 170) !important;
        }
    }

    .aiBoard {
        border: 1px solid green;

        .tile {
            border: 1px solid rgba(0, 128, 0, 0.377);
            width: 50px;
            height: 50px;
            margin: 0;
            box-sizing: border-box;
            user-select: none;
        }
    }
}